<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/game.css">
    <title>Jeopardy Board</title>
    ${analytics}
</head>
<body>
    <div class="jeopardyHeader">
        <h1 class="round"></h1>
    </div>
    <div class="grid-container">
        <div class="category-item category1">CATEGORY 1</div>
        <div class="category-item category2">CATEGORY 2</div>
        <div class="category-item category3">CATEGORY 3</div>
        <div class="category-item category4">CATEGORY 4</div>
        <div class="category-item category5">CATEGORY 5</div>
        <div class="category-item category6">CATEGORY 6</div>
        <div class="question-item category1 question1">$400</div>
        <div class="question-item category2 question1">$400</div>
        <div class="question-item category3 question1">$400</div>
        <div class="question-item category4 question1">$400</div>
        <div class="question-item category5 question1">$400</div>
        <div class="question-item category6 question1">$400</div>
        <div class="question-item category1 question2">$800</div>
        <div class="question-item category2 question2">$800</div>
        <div class="question-item category3 question2">$800</div>
        <div class="question-item category4 question2">$800</div>
        <div class="question-item category5 question2">$800</div>
        <div class="question-item category6 question2">$800</div>
        <div class="question-item category1 question3">$1200</div>
        <div class="question-item category2 question3">$1200</div>
        <div class="question-item category3 question3">$1200</div>
        <div class="question-item category4 question3">$1200</div>
        <div class="question-item category5 question3">$1200</div>
        <div class="question-item category6 question3">$1200</div>
        <div class="question-item category1 question4">$1600</div>
        <div class="question-item category2 question4">$1600</div>
        <div class="question-item category3 question4">$1600</div>
        <div class="question-item category4 question4">$1600</div>
        <div class="question-item category5 question4">$1600</div>
        <div class="question-item category6 question4">$1600</div>
        <div class="question-item category1 question5">$2000</div>
        <div class="question-item category2 question5">$2000</div>
        <div class="question-item category3 question5">$2000</div>
        <div class="question-item category4 question5">$2000</div>
        <div class="question-item category5 question5">$2000</div>
        <div class="question-item category6 question5">$2000</div>
    </div>
    <div class="resultContainer">
        <h1 class="score">Score: $0</h1>
    </div>
    <div class="questionContainer">
        <progress value="0" max="9" id="answerBar"></progress>
        <progress value="0" max="80" id="questionBar"></progress>
        <h1 id="questionText"></h1>
        <input type="text" onfocus="this.value=''" name="Answer" id="answerField">
    </div>
    <div class="answerContainer">
        <h1 id="correctAnswerText"></h1>
        <h1 id="yourAnswerText"></h1>
    </div>
    <div class="betContainer">
        <h1 id="betText"></h1>
        <input type="text" onfocus="this.value=''" name="Answer" id="betField">
    </div>
    <script>const arrayObject = ${arrayArrayObject};</script>
    <script>const userObject = ${userinfo};</script>
    <script src="/javascripts/board_manipulation.js"></script>
</body>
</html>