* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 90%;
    /* grid-template-columns: auto auto auto auto auto auto; */
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    padding: 5px;
}

.category-item {
    display: flex;
    background-color: #0314a2;
    border: 5px solid black;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: Helvetica;
    text-shadow: 2px 2px black;
    color: white;
    text-align: center;
}

.question-item {
    display: flex;
    background-color: #0314a2;
    border: 5px solid black;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 600;
    font-family: Helvetica;
    color: #d7a249;
    text-shadow: 2px 2px 8px black;
    /* text-shadow: 2px 2px black; */
}

.resultContainer {
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #0314a2;
    border: 10px solid black;
    /* padding: 5px; */
    /* margin-bottom: 10px; */
    font-family: Helvetica;
    font-size: 1.5vw;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.questionContainer, .betContainer, .submitForm, .jeopardyHeader, .answerContainer {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    /* height: 100%;
    width: 100%; */
    background-color: #0314a2;
    color: white;
    text-shadow: 2px 2px 8px black;
    font-family: Helvetica;
}

.betContainer {
    z-index: 2;
}

.submitForm {
    z-index: 3;
}

#questionText {
    text-align: center;
}

.jeopardyHeader {
    display: flex;
    z-index: 3;
}

#answerBar {
    display: none;
}

#questionBar {
    display: none;
}

#answerField {
    display: none;
}

.pictureFrame {
    order: -4;
    margin: 1vh;
    display: flex;
    height: 100px;
    width: 100px;
}

.qImg {
    max-width: 100%;
    height: auto;
}
