* {
	box-sizing: border-box;
	outline: 1px solid red;
}

html {
	height: 100%;
	width: 100%;
	background-color: white;
}

.columnContainer {
	display: flex;
	height: 100%;
	width: 100%;
}

.columnContainer>* {
	width: 30%;
	height: 100%;
}

body {
	height: 89vh;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}